*{  margin: 0px;
    padding: 0px;
    
}

body{
    background-color: rgb(105, 105, 105);
}
header{
    background-color: rgb(255, 255, 255);
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    
}


nav{
    display: flex;
    justify-content: space-between;
    
}

.barramenu{
     display: flex;
     
            
}

.minhaa{
    padding: 0px 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    display: flex;
    white-space: nowrap;
}

.minhaa:hover{
    color: rgb(255, 144, 144)
}

#img{
    width: 20px;
    padding: 0px 5px;
}
#imglogo{
    width: 20px;
}
.minhasection{
    padding: 5px;
    background-color: rgb(255, 255, 255);
    margin: 0 50px;
    min-height: 100vh;
	
    
}
.minhah1{
    margin-top: 100px;
    padding: 5px;
}

.minhap{
    padding: 20px;
    text-indent: 60px;
}

.meufooter{
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(222, 222, 222);
    text-align: center;
    font-style: italic;
    
    }