*{  margin: 0px;
    padding: 0px;
    
}

body{
    background-color: rgb(105, 105, 105);
}
header{
    background-color: rgb(255, 255, 255);
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    
}


nav{
    display: flex;
    justify-content: space-between;
    
}

.barramenu{
     display: flex;
     
            
}

.minhaa{
    padding: 0px 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    display: flex;
    white-space: nowrap;
}

.minhaa:hover{
    color: #cf4239;
}

#img{
    width: 20px;
    padding: 0px 5px;
}
#imglogo{
    width: 20px;
}
.minhasection{
    padding: 5px;
    background-color: rgb(233, 233, 233);
    margin: 0px 50px;
    min-height: 100vh;
	font-family:sans-serif;
    
}
.barrasection{
    border-bottom: 1px solid rgb(212, 212, 212);
    display: flex;
    margin: 30px;
    
    
}
.minhah1{
    border-bottom: 1px solid #cf4239;
    font-size: 2em;
    margin-top: 60px;
    padding: 5px;
    color: #cf4239;
    white-space: nowrap;
}

.sigacob{
    height: 15px ;
    background-color: #cf4239;
    border-radius: 5px;
    margin-top: 60px;
    padding: 10px 10px;
    font-family:sans-serif;
    font-size: 0.8em;
    text-decoration: none;
    color: white;
}
.artigo{
    
    display: flex;
    
    
    
}
.bloconoticia{
    border-radius: 10px;
    margin: 0px 17px;
    background-color: white;
    
}
.textoartigo{
    display: block;
    margin: 0px 5px;
    padding: 5px;
    color: #cf4239;
    font-weight: bold;
    font-size: 0.7em;
}
.manchete{
    border-radius: 10px 10px 0px 0px;
    max-width: 100%;
    margin: auto;
    
    
}
.meufooter{
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(222, 222, 222);
    text-align: center;
    font-style: italic;
    
    }

    